@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "IBM Plex Sans", sans-serif;
}

.main-body {
  background: url("../public/images/body-bg.webp");
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
}